.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 1rem;
}

.home-container h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.home-container p {
  font-size: 1.25rem;
  text-align: center;
}