.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 1rem;
}

.login-container h1 {
  font-size: 2rem;
  margin-bottom: 2rem;
  text-align: center;
}

.login-container form {
  width: 100%;
  max-width: 400px;
}